<section class="disclaimer container-fluid vertical-center d-flex center justify-content-center align-items-center">
	<div class="jumbotron jumbotron-fluid bg-transparent">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6">
					<img class="img-fluid" src="{{site.theme.uri}}/img/wely.jpg" alt="">
				</div>
				<div class="col-12 col-lg-6 text-center text-sm-left mt-5 mt-sm-0">
					<h3>Sobre Nosotros</h3>
					<h1 class="text-dark">VET STYLES</h1>
					<p class="text-dark">
						Somos un salón de belleza ubicado en el corazón de Rancagua Nos especializamos en técnicas de color – Balayage, Babylights, Black Roots, 
						                                Perfect Blonde, Hair Countouring y otras – basadas en la naturalidad y elegancia.
						                                Se trabajan técnicas muy complejas, que imponen un alto desafío profesional Las tendencias en color apuntan a trabajos finos, realizados prácticamente pelo a pelo, que implican agregar naturalidad y frescura a tu look.
						                                Todo servicio incluye una evaluación capilar gratuita personalizada, donde revisamos el estado general de tu cabello, tonos según tu piel, corte analizando tus facciones, entre otros.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
