<section style="background-image: url('{{site.theme.uri}}/img/banner-servicios.png');" class="banner container-fluid vertical-center text-center d-flex center justify-content-center align-items-center">
	<div class="jumbotron jumbotron-fluid bg-transparent">
		<div
			class="container">
			<h1>DESCUBRE TU NUEVO LOOK CON VETSTYLES</h1>
			<a href="#" class="align-self-center btn btn-lg btn-primary">Contactanos</a>
		</div>
	</div>
</section>
