<section class="pricings container-xl vertical-center d-flex center justify-content-center align-items-center">
	<div class="jumbotron jumbotron-fluid bg-transparent">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center mb-5">
					<h3>Servicios</h3>
					<h1>PELUQUERIA INTEGRAL</h1>
				</div>
				<div class="col-12 col-sm-3 text-sm-left">
					<h5 class="card-title">
						Cortes
					</h5>
					<ul>
						<li>Corte Mujer</li>
						<li>Corte Hombre</li>
					</ul>
				</div>
				<div class="col-12 col-sm-3 text-sm-left">
					<h5 class="card-title">
						Peinados
						<!-- <span>from $45</span> -->
					</h5>
					<ul>
						<li>Brushing</li>
						<li>Ondas</li>
						<li>Trenzas</li>
					</ul>
				</div>
				<div class="col-12 col-sm-3 text-sm-left">
					<h5 class="card-title">
						Técnica Color
					</h5>
					<ul>
						<li>Balayage</li>
						<li>Highlights Hair</li>
						<li>Babylights</li>
						<li>Babylights</li>
						<li>Perfect Blonde</li>
						<li>Black roots</li>
					</ul>
				</div>
				<div class="col-12 col-sm-3 text-sm-left">
					<h5 class="card-title">
						Color
					</h5>
					<ul>
						<li>Raíz</li>
						<li>Cintillo Raíz</li>
						<li>Color global (tono único)</li>
						<li>Baño de color</li>
					</ul>
				</div>
				<div class="col-12 col-sm-4 text-sm-left">
					<h5 class="card-title">
						Alisados
					</h5>
					<ul>
						<li>Alisado Brasil Cacau</li>
					</ul>
				</div>
				<div class="col-12 col-sm-5 text-sm-left">
					<h5 class="card-title">
						Tratamientos capilares
					</h5>
					<ul>
						<li>Botox</li>
						<li>Olaplex Tratamiento: Paso Nº1, 2 & 3</li>
						<li>Olaplex en Técnica de Color</li>
						<li>Reconstrucción total: Complex + Olaplex</li>
					</ul>
				</div>
				<div class="col-12 col-sm-3 text-sm-left">
					<h5 class="card-title">
						Depilacion con cera
					</h5>
					<ul>
						<li>Gluteos</li>
						<li>Piernas completas</li>
						<li>Media Pierna</li>
						<li>Rebaje Full Brazil</li>
						<li>Rebaje Corto</li>
						<li>Rebaje Largo</li>
						<li>Intergluteos</li>
						<li>Manos y dedos</li>
						<li>Dedos y empeine</li>
						<li>Bozo</li>
						<li>Rostro completo</li>
						<li>Axilas</li>
						<li>Brazo completo</li>
						<li>Medio brazo</li>
						<li>Espalada completa</li>
						<li>Espalada baja</li>
						<li>Abdomen completo</li>
						<li>Linea de abdomen</li>
					</ul>
				</div>
				<div class="col-12 col-sm-4 text-sm-left">
					<h5 class="card-title">
						Cejas
					</h5>
					<ul>
						<li>Perfilado Pinza</li>
						<li>Perfilado Cera</li>
						<li>Laminado</li>
						<li>Tintura semipermanente ENA</li>
						<li>Limpieza facial</li>
					</ul>
				</div>
				<div class="col-12 col-sm-5 text-sm-left">
					<h5 class="card-title">
						Manicura Pedicura
					</h5>
					<ul>
						<li>Completa</li>
						<li>Permanente</li>
						<li>Retiro de esmalte permanente</li>
					</ul>
				</div>
				<div class="col-12 col-sm-3 text-sm-left">
					<h5 class="card-title">
						Pestañas
					</h5>
					<ul>
						<li>Extension natural</li>
						<li>Extension rimel</li>
						<li>Lifting</li>
						<li>Ondulado con tinte</li>
						<li>Retirado de pestañas</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
