<section class="testimonials container-xl vertical-center d-flex center justify-content-center align-items-center">
	<div class="jumbotron jumbotron-fluid bg-transparent">
		<div class="container">
			<div class="col-12 text-center mb-5 mt-5 mt-sm-5 mt-lg-0">
				<h3>Nuestros</h3>
				<h1 class="text-dark">CLIENTES</h1>
			</div>
			<div class="row">
				<div class="col-sm-12 col-lg-6 mt-sm-3 mt-lg-0">
					<div style="min-height: fit-content;" class="card p-3">
						<div class="card-horizontal">
							<div class="img-square-wrapper pl-sm-5 pt-3">
								<img class="" src="{{site.theme.uri}}/img/beauty-salon-testi1.webp" alt="Card image cap">
							</div>
							<div class="card-body text-left">
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<small class="text-muted">Elizabeth – Tuesday, Octobe</small>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-lg-6 mt-sm-3 mt-lg-0">
					<div style="min-height: fit-content;" class="card p-3">
						<div class="card-horizontal">
							<div class="img-square-wrapper pl-sm-5 pt-3">
								<img class="" src="{{site.theme.uri}}/img/beauty-salon-testi1.webp" alt="Card image cap">
							</div>
							<div class="card-body text-left">
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<small class="text-muted">Elizabeth – Tuesday, Octobe</small>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-lg-6 mt-lg-5 mt-sm-3">
					<div style="min-height: fit-content;" class="card p-3">
						<div class="card-horizontal ">
							<div class="img-square-wrapper pl-sm-5 pt-3">
								<img class=" " src="{{site.theme.uri}}/img/beauty-salon-testi1.webp " alt="Card image cap">
							</div>
							<div class="card-body text-left">
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<small class="text-muted ">Elizabeth – Tuesday, Octobe</small>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-lg-6 mt-lg-5 mt-sm-3">
					<div style="min-height: fit-content;" class="card p-3">
						<div class="card-horizontal">
							<div class="img-square-wrapper pl-sm-5 pt-3">
								<img class="" src="{{site.theme.uri}}/img/beauty-salon-testi1.webp " alt="Card image cap">
							</div>
							<div class="card-body text-left">
								<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<small class="text-muted ">Elizabeth – Tuesday, Octobe</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
